**.orig
*.rbc
*.sassc
*.swo
*.swp
.DS_Store
.bundle
.rspec
.sass-cache
/.bundle
/coverage/
/db/*.sqlite3
/log/*
/public/assets/*
/public/system/*
/public/uploads/tmp/*
/spec/tmp/*
/tmp/*
/vendor/bundle
capybara-*.html
pickle-email-*.html
rerun.txt

