%img{:alt => "Header Faq", :height => "58", :src => "/assets/header-faq.png", :width => "630"}/
.contentShell
  %p The following FAQs were developed in response to recent questions and inquiries we have received from past 100Kin10 nominees. We hope you will find them helpful and continue to reach out with your questions.
  %p.question 1. What does success look like, and how do you intend to grow over time?
  %p.answer
    The simplest and most specific answer is that we aim to respond to the nation’s need for 10,000 new, excellent STEM teachers over 2 years and 100,000 over 10 years, working closely with partner organizations as well as the Department of Education and the White House to ensure positive, measurable growth. The purpose is to reverse our country’s decades-long decline in STEM subjects, to ensure that all children have the basic STEM literacy to be full participants in our economy and democracy, and to enable our country’s students to address the most pressing national and global challenges.
    %br/
    %br/
    We are mobilizing an expanding, multi-sector group of organizations to strategically apply its collective assets in a coordinated way to solve a complex, national problem. We are doing this by creating an “enlightened marketplace” that doesn’t rely on any centralized entity having all the answers to complex questions related to teacher preparation or local demand for STEM talent. Instead, funders with their own expertise can identify and partner with pre-vetted organizations with deep knowledge of local, statewide, and national needs.

  %p.question 2. How does 100Kin10 focus on quality?
  %p.answer
    100Kin10 is not just about numbers. The movement is focused on excellence. The true end goal is to dramatically increase the number of excellent STEM teachers so that all students have access to first-rate STEM learning. UEI oversees the 100Kin10 vetting process to ensure that accepted partners have both high-quality commitments and the capacity to execute them with excellence. Additionally, UEI is developing a learning and R&D infrastructure, as well as tools for 100Kin10partners to measure the quality and impact of their commitments. Throughout the next years, UEI will undertake regular, rigorous reviews of all programs, will provide real-time feedback on implementation, and will share best practices to drive improvement across 100Kin10 partners and the STEM teaching field at large.

  %p.question 3. Is the focus just on recruiting new teachers?
  %p.answer No. Though increasing the number of new, excellent STEM teachers in the pipeline is important, 100Kin10 recognizes that to achieve these ambitious goals we also need to keep our best STEM teachers in the classroom and encourage commitments that change the circumstances in which STEM teachers work—from how they are recruited, hired, evaluated, and paid to the support they receive and the opportunities they have to grow in their careers.
  
  %p.question 4. What are "bold" commitments?
  %p.answer Bold commitments are creative and innovative responses to our shared goal of 100,000 excellent STEM teachers in 10 years. They reflect new or expanded approaches to tackling this challenge through INCREASING THE SUPPLY of excellent STEM teachers, DEVELOPING and RETAINING excellent STEM teachers, and/or BUILDING THE 100Kin10 MOVEMENT – all while leveraging the unique assets of your organization.
  
  %p.question 5. Are all partners automatically eligible for funding?
  %p.answer To become eligible for funding, partners must complete a common proposal application form that will be reviewed by each funding partner. Application forms and further information on the funding process will be available in late 2011. Decisions regarding funding are made independently by each funding partner.
  
  %p.question 6. How can I become a funding partner?
  %p.answer Potential funders enter the movement through a separate process and do not need to complete an online application form. If you are interested in joining the funders' collaborative, please contact Talia Milgrom-Elcott at tme@carnegie.org.
  
  %p.question 7. How is 100Kin10 different from other groups working on STEM education?
  %p.answer 100Kin10 is a growing movement to respond to the national imperative to train 100,000 new, excellent STEM teachers over the coming 10 years. It is neither a paper coalition of similarly-minded allegiances nor a command-and-control, centralized effort. Instead, it is an effort to invite a wide array of players—from federal agencies to states, museums to corporations, universities to school districts, individuals to associations—to identify their assets and apply them creatively and strategically to solving one of our country’s most vexing challenges: how to give every child a first-rate STEM education so that we can regain our competitive edge in the STEM fields and address the national and global challenges that will define this century.
  
  %p.question 8. In our application, do we need to articulate a plan for reaching our commitment?
  %p.answer Applicants should describe their capacity to carry out their commitments. When setting targets for the scope of your commitment, however, we ask that you do not limit yourself to your current funding streams. We understand that the scope of a commitment may change based on funding received. You are welcome to work with the organization that nominated you to develop your commitment, or view the list of current 100Kin10 commitments as a reference.
  
  %p.question 9. Our commitment reflects a partnership among several non-profits, corporations, associations, etc. Can we apply with a commitment from a new or proposed partnership?
  %p.answer We welcome commitments that are designed in partnership. Please specify on your application if other entities are contributing to the commitment.
  
  %p.question 10. We are a small organization. Is there a minimum impact number you’re looking for in a strong commitment?
  %p.answer We seek strong partner organizations of all sizes, with bold and significant commitments.

  %p.question 11. When and how do we apply?
  %p.answer The deadline for online submissions is 11:59PM EST November 25th, 2011.

  %p
    For additional information about 100Kin10, please visit 100kin10.org or e-mail
    %a{:href => "mailto:info@100kin10.org"} info@100kin10.org
/ end contentShell