%img{:alt => "Your Nomination", :height => "58", :src => "/assets/header-your-nomination.png", :width => "630"}/
.contentShell
  %h1 Thank you for your applications.
  %p The application period ended on December 2nd at 11:59PM EST.
  %p If you have any questions, please contact our team directly at info@100Kin10.org.
  %br
  %p Thanks, The 100Kin10 Team
