              #sideNewsWrapper
                =image_tag("header-updates-and-news.png", :alt => "Updates And News", :height => "46", :width => "257" )
                .storyWrapper
                  %a.headline{:href => "#"} Pellentesque scelerisque enim
                  Morbi eget quam dui, et dictum nunc. Pellen sagittis norbi eget quam duidictum nunc.mauris bibe.
                  %a.readMore{:href => "#"} read more &raquo;
                  %span Tuesday, August, 12th , 2007
                / end storyWrapper
                .storyWrapper
                  %a.headline{:href => "#"} Scelerisque enim
                  Pellen sagittis norbi eget quam duidictum nunc. Obi pellen mauris bibe uam dui, et dictum nunc.
                  %a.readMore{:href => "#"} read more &raquo;
                  %span Tuesday, August, 12th , 2007
                / end storyWrapper
                .storyWrapper.last
                  %a.headline{:href => "#"} Pellentesque scelerisque enim
                  Morbi eget quam dui, et dictum nunc. Pellen sagittis norbi eget quam duidictum nunc.mauris bibe.
                  %a.readMore{:href => "#"} read more &raquo;
                  %span Tuesday, August, 12th , 2007
                / end storyWrapper
              / end sideNewsWrapper
              #sideTwitterWrapper
                =image_tag("header-from-twitter.png", :alt => "From Twitter", :height => "46", :width => "257")
                .tweet
                  Morbi eget quam dui, et dictum nunc. Pellen sagittis norbi eget quam duidictum nunc.mauris bibe.
                  %br/
                  %br/
                  =image_tag("sidebar-hdiv.png", :alt => "Sidebar Hdiv", :height => "20", :width => "257")
                / end tweet
              / end sideTwitterWrapper