- content_for :subsection do
  .subsection#join
    = Content.insert 'subsection_takeaction_4_join'

- content_for :subheading, '100Kin10 is an opportunity to put your leadership, expertise, and vision to work on a national stage.'

= render file: 'pages/takeaction', :locals => { :heading => 'Join' }