<% Content.insert 'page_press' do |c| %>

<div id="leftcolumn">
<div id="maincontent"> <!-- this is where the main content / running text should go -->

  <div class="new_heading"><%= c.render_field(:title) %></div>
  <div class="new_subheading"><%= c.render_field(:lede) %></div>

</div><!-- end maincontent -->
</div><!-- end leftcolumn -->

<% end %>

<div id="rightcolumn">
  <img src="/images/calculator.png" id="rightphoto" alt="100kin10" border="0" />
</div><!-- end rightcolumn -->
<iframe src="http://100kpress.com" width="1024" height="1000" scrolling="no"></iframe>

<%= javascript_include_tag :search %>
