<div id="leftcolumn">
<div id="contentheader"><!-- the colorblock header above the texual content -->
<table id="contenttbl">
<tr> <td width="220">
<h1>Sed ut perspiciatis unde omnis iste natus sit voluptatem</h1>
</td>
<td width="17"><img src="/images/arrowright.png" width="12" height="148" alt="" /></td>
<td width="440">
<div class="copyblock">
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. <a href="#">Lorem Ipsum dolor</a> sit amet, consectetuer adipiscing elit, sed.
</div>
</td>
</tr></table>
</div><!-- end contentheader -->

<div id="maincontent"> <!-- this is where the main content / running text should go -->

<h1>Main H1 Header Here </h1>
<p><strong>Q. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
tincidunt ut laoreet dolore magna aliquam erat volutpat?</strong></p>
<p>A. Ut wisi enim ad minim veniam, quis nostrud exerci <A href="#">link in running text</a> tation ullamcorper suscipit lobortis nisl ut aliquip ex
ea commodo consequat. Duis autem vel eum iriure.Lorem ipsum dolor sit amet.</p>

<h2>Sample H2 Header</h2>
<p><strong>Q. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam?</strong></p>
<p>A. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
ea commodo consequat.</p>

<h3>Sample H3 Header</h3>
<p><strong>Q. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
tincidunt ut laoreet dolore <A href="#">link in running text</a> magna aliquam erat volutpat?</strong></p>
<p>A. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
ea commodo consequat. Duis autem vel eum iriure.Lorem ipsum dolor sit amet.</p>

<div class="newsentry"><!-- blog titles need to be wrapped in class newsentry to make it inline and still have css margins work -->
<h3 class="newsentry">Sample Blog Title</h3> <span class="newsslash">//</span> <span class="dateformat">01.01.2001</span>
</div>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
tincidunt ut laoreet dolore <A href="#">link in running text</a> magna aliquam erat volutpat?</p>
<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
ea commodo consequat. Duis autem vel eum iriure.Lorem ipsum dolor sit amet.</p>

<blockquote>
<p>This is inset text in an html blockquote element with 20 pixel margin and ten pixel padding on a gray background #efefef 
lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
tincidunt ut laoreet dolore lorem ipsum dolor sit amet, <A href="#">link example</a> consectetuer adipiscing elit, sed diam nonummy nibh euismod
tincidunt ut laoreet dolore.</p>
<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
ea commodo consequat. Duis autem vel eum iriure.Lorem ipsum dolor sit amet.</p></blockquote>

</div><!-- end maincontent -->
</div><!-- end leftcolumn -->


<div id="rightcolumn"> 
<img src="/images/column_chalkboard.jpg" id="rightphoto" alt="100kin10" border="0" />
<div id="graybox">&nbsp;</div>

</div><!-- end rightcolumn -->
