#leftcolumn
  #maincontent

    .new_heading= cool_heading "Tools"
    .new_subheading Learn more about 100Kin10 and its partners through these resources. View our videos, access materials about 100Kin10 and its partners, and <a href="mailto:info@100kin10.org" style="color: #FFF">reach out to us</a> for further information.

    - Content.insert 'tools' do |c|
      = c.render_field(:body)





#rightcolumn
  <img src="/images/calculator.png" id="rightphoto" alt="100Kin10" border="0" />
  %ul.new_submenu
    - {'/page/news-and-resources' => 'News & Resources', '/page/tools' => 'Tools', '/page/press' => 'Press' }.each do |k, v|
      - klass = current_page?(k) ? "active" : ""
      %li= link_to v, k, class: klass


  %p{ style: "margin-bottom:16px"} <strong>100Kin10</strong> invites everyone to join the movement. Teach, donate, or participate to get involved today.
  %ul.new_submenu_nobars
    %li= link_to 'Get Involved', "/page/takeaction"
