.contentShell
  %h1 Dear #{params[:nominator_first_name]}
  %p Thank you for your thoughtful nomination. We invite you to work with #{params[:nominee_first_name]} #{params[:nominee_last_name]} on their application and, in particular, on their bold commitment. Note that the application will be accessible from October 31, 2011 until midnight EST, November 25, 2011 and all approved new partners will be announced in early January 2012. We appreciate your efforts to grow the 100Kin10 movement and truly appreciate the talent that you bring as well.
    
  %p
    Thanks,
    %br/
    The 100Kin10 Team